

*-------------------REGISTRO-----------------------*

section h3 {
	font-family: sans-serif;
	color: black;
}

form div {
	margin: .4em 0;
}
form input{
	padding: 4px;
	margin: 4px;
}

form div label {
	width: 25%;
	float: left;
	font-style: bold;
	padding: 4px;
	margin: 4px;
}

form div select {
		padding: 4px;
	margin: 4px;
}

form div span {
	color: red;
}
